.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1024px;
    height: 768px;
}

.header {
    background: lightgreen;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.footer {
    background: blue;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end
}

.sidebar {
    background: pink;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 300px;
    height: auto;
}

.content {
    background: green;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 724px;
    height: auto;
}

